!!!
%html
  %head
    %title== Know the kana ? #{@title}
    = stylesheet_link_tag 'application'
    = yield :head
  %body
    #header
      %h1 Can you kana ?
      %ul#navigation
        %li List that kana !
      = render :partial => 'shared/current_user_menu'
    = yield :layout
    / Now we include the javascripts !
    = javascript_include_tag 'jquery-1.3.2', 'jqz', 'application'
    = yield :javascript

